[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.0.2"
scipy = "==1.1.0"
deepspeech = "*"
lucy-bot = {git = "https://github.com/nemanja-m/lucy.git", ref = "master"}

[dev-packages]

[requires]
python_version = "3.5"
