html, body {
  height: 100%;
}

body {
  background-image: linear-gradient(19deg, #B255DB 0%, #1B6AC7 100%);
  margin: 0;
  padding: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  margin-bottom: 2rem;
}

.record-btn {
  cursor: pointer;
}

.title {
  padding-top: 7rem;
}

.title p {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 3rem;
}

.first-circle,
.second-circle,
.third-circle {
  border-radius: 50%;
}

.first-circle {
  width: 200px;
  height: 200px;
  background-color: rgb(255, 255, 255, 0.3);
  background-image: url('../images/mic.png');
  background-size: 75px 110px;
  background-position: center;
  background-repeat: no-repeat;
}

.second-circle {
  position: relative;
  width: 250px;
  height: 250px;
  margin: -25px 0 0 -25px;
  border: 1px solid #fff;
  animation: 2500ms pulse ease-in-out infinite;
  -webkit-animation: 2500ms pulse ease-in-out infinite;
}

.third-circle {
  position: relative;
  width: 350px;
  height: 350px;
  border: 3px solid #fff;
  margin: -50px 0 0 -50px;
  animation: 2500ms pulse ease-in-out infinite;
  -webkit-animation: 2500ms pulse ease-in-out infinite
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0.2,0.2);
  }
  50% {
    opacity: 1;
    transform: scale(1,1);
  }
  100% {
    opacity: 0;
    transform: scale(0.2,0.2);
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.2,0.2);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1,1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.2,0.2);
  }
}

.footer-text {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 1.35rem;
  margin-top: 0.5%;
}

.sound-waves {
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sound-waves .bar {
  display: block;
  width: 2px;
  background: rgb(255, 255, 255, 0.6);
  animation: sound 0ms -800ms linear infinite alternate;
  transition: height 0.8s;
}

@keyframes sound {
  0% {
    opacity: .33;
    height: 6px;
  }
  50% {
    opacity: .66;
    height: 36px;
  }
  100% {
    opacity: 1;
    height: 80px;
  }
}

@-webkit-keyframes sound {
  0% {
    opacity: .33;
    height: 6px;
  }
  50% {
    opacity: .66;
    height: 36px;
  }
  100% {
    opacity: 1;
    height: 80px;
  }
}

.bar:nth-child(1) {
  height: 2px;
  animation-duration: 474ms;
}

.bar:nth-child(2) {
  height: 10px;
  animation-duration: 433ms;
}

.bar:nth-child(3) {
  height: 18px;
  animation-duration: 407ms;
}

.bar:nth-child(4) {
  height: 26px;
  animation-duration: 458ms;
}

.bar:nth-child(5) {
  height: 30px;
  animation-duration: 400ms;
}

.bar:nth-child(6) {
  height: 32px;
  animation-duration: 427ms;
}

.bar:nth-child(7) {
  height: 34px;
  animation-duration: 441ms;
}

.bar:nth-child(8) {
  height: 36px;
  animation-duration: 419ms;
}

.bar:nth-child(9) {
  height: 40px;
  animation-duration: 487ms;
}

.bar:nth-child(10) {
  height: 46px;
  animation-duration: 442ms;
}

.bar:nth-child(11) {
  height: 2px;
  animation-duration: 474ms;
}

.bar:nth-child(12) {
  height: 10px;
  animation-duration: 433ms;
}

.bar:nth-child(13) {
  height: 18px;
  animation-duration: 407ms;
}

.bar:nth-child(14) {
  height: 26px;
  animation-duration: 458ms;
}

.bar:nth-child(15) {
  height: 30px;
  animation-duration: 400ms;
}

.bar:nth-child(16) {
  height: 32px;
  animation-duration: 427ms;
}

.bar:nth-child(17) {
  height: 34px;
  animation-duration: 441ms;
}

.bar:nth-child(18) {
  height: 36px;
  animation-duration: 419ms;
}

.bar:nth-child(19) {
  height: 40px;
  animation-duration: 487ms;
}

.bar:nth-child(20) {
  height: 46px;
  animation-duration: 442ms;
}

#timer {
  width: 35%;
  display: none !important;
}

#seconds {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 2.35rem;
  margin-left: 25px;
  margin-right: 25px;
}

.timer-text {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 1.25rem;
}
