html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: #f5efe6;
}

#record-btn:hover {
  color: #be0000;
  cursor: pointer;
}
