<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dialogue System</title>

    {% include 'styles.html' %}
  </head>
  <body>
    <div class="container-fluid h-100" id="recorder">
      <div class="title h-25">
        <p>Hi, I'm Lucy.</p>
        <p>Ask me something.</p>
      </div>

      <div class="container d-flex h-50">
        <div class="row justify-content-center align-self-center w-100">
          <div class="first-circle record-btn">
            <div class="second-circle">
              <div class="third-circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container h-100 d-flex" id="timer">
      <div class="col my-auto">
        <div class="col sound-waves">
          <i class="bar"></i>
          <i class="bar"></i>
          <i class='bar'></i>
          <i class='bar'></i>
          <i class='bar'></i>
          <i class='bar'></i>
          <i class='bar'></i>
          <i class='bar'></i>
          <i class='bar'></i>
          <span id="seconds">10</span>
          <i class='bar'></i>
          <i class='bar'></i>
          <i class='bar'></i>
          <i class='bar'></i>
          <i class='bar'></i>
          <i class='bar'></i>
          <i class='bar'></i>
          <i class='bar'></i>
          <i class='bar'></i>
        </div>
        <p class="timer-text text-center">seconds left</p>
      </div>
    </div>

    {% include 'footer.html' %}
    {% include 'scripts.html' %}
  </body>
<html>
